<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All the pups</title>
  </head>
  <body>
    <h1>These are puppies</h1>
    <p><%= "Puppy Name: #{@pup.name}" %></p>
    <p><%= "Puppy Breed: #{@pup.breed}" %></p>
    <p><%= "Puppy Age: #{@pup.age}" %></p>
  </body>
</html>
